.container {
  margin: $m-size;
  padding: $s-size;
  color: #2a2a2a;
  background-color: $platinum;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: $mont;
  border-radius: .12em;
  @media (min-width: $desktop-breakpoint) {
    margin: $xl-size;
    font-size: $f-size-s;
  }
}

.container__buttons {
  display: flex;
  flex-direction: row;
  margin: $m-size;
  justify-content: space-evenly;
}
