@import url('https://fonts.googleapis.com/css?family=Domine|Montserrat');

//colors
$sky-blue: #8FC5C6;
$grey: #B2B2B2;
$platinum:#E3E3E3;
$smokey: #110305;

//fonts
$mont: 'Montserrat', sans-serif;
$domine: 'Domine', serif;

//breakpoint
$desktop-breakpoint: 45rem;

//sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//font-size
$f-size-l: 1.8rem;
$f-size-s: 1.4rem;